.notifications-page-container {
  height: 100%;
  margin: 32px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

.notifications-page-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.notification {
  border-radius: 12px;
  padding: 8px;
  display: flex;
  gap: 20px;
  background-color: #f7f7f7;
}

.info-notification {
  color: black;
}

.warning-notification {
  color: #f9c300;
}

.critical-notification {
  color: #ff0b0b;
}

.notification-time {
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.6;
  display: flex;
  align-items: center;
}

.notification-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.notification-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 21px;
}

.notification-title {
  font-size: 18px;
  line-height: 19px;
  font-weight: bold;
}

.notification-description {
  font-size: 16px;
  line-height: 19px;
}

.notification-actions {
  display: flex;
}

.notification-modal {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: white;
  height: 20%;
  text-align: center;
}

.notification-modal-text {
  font-size: 20px;
  font-weight: bold;
}

.notification-modal-buttons {
  display: flex;
  gap: 64px;
}

.notification-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
