.notifications-page-container {
  height: 100%;
  margin: 32px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.notifications-page-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.notification {
  background-color: #f7f7f7;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.notification-time {
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.6;
  position: absolute;
    right: 32px;
}

.notification-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notification-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border-radius: 21px;
}

.notification-title {
  font-size: 18px;
  line-height: 19px;
  font-weight: bold;
}

.notification-description {
  font-size: 16px;
  line-height: 19px;
}
